# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Compiled executables
hello
stack
queue
circular_queue
priority_queue
binary_tree
binary_search_tree
heap
graph
hash_table
trie
avl_tree
red_black_tree
b_tree
b_plus_tree
segment_tree
fenwick_tree

# Temporary files
*.o
*.out
*.dSYM/
.vscode/
*.dSYM/